# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
bin
build
application/GLMark/debug
application/GLMark/release
lib
build.sh
compare.pl
tar.sh
test/TestVideoBuffer/debug
test/TestVideoBuffer/release
test/TestAttribute/debug
test/TestAttribute/release
sample/RenderingVideo/debug
sample/RenderingVideo/release
sample/SimpleMediaPlayer/debug
sample/SimpleMediaPlayer/release
.vs/smp/v16/ipch/AutoPCH/6d435d47f80d1b02/SMF.ipch
*.suo
*.db
